@import '../../styles/vars';

.pagination {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 70px 0;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    width: 80px;
    height: 80px;
    font-size: 36px;
    border: 1px solid #000;
    border-radius: 50%;
    cursor: pointer;
    transition: color, background-color 0.3s ease;

    &:hover {
      background-color: #000;
      color: #fff;
    }
  }
}
