.cart {
  background: #f2f2f2;

  &__title {
    width: 100%;
    height: 131px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__title_text {
    font-size: 3rem;
  }

  &__buttons {
    width: 100%;
    padding: 0 80px 53px 80px;
    display: flex;
    justify-content: space-between;
  }

  &__buttons-block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 2px solid #000;
    border-radius: 40px;
    background: #fff;
    font-size: 36px;
  }

  &__buttons-block-title {
    padding: 20px 80px;
    margin: 0;
  }

  &__buttons-block-value {
    display: flex;
    align-items: center;
    height: calc(100% + 4px);
    margin-top: -2px;
    margin-right: -2px;
    padding: 0 26px;
    border: 2px solid #000000;
    border-radius: 40px;
  }
}
