@import '../../styles/vars';

.welcome {
  padding: 160px 0;
  background: $main-bg;

  .container {
    display: flex;
    flex-wrap: wrap;
  }

  &__media {
    width: 38%;
  }

  &__description {
    width: 58%;
    padding-left: 70px;
  }

  &__description-title {
    margin-bottom: 24px;
  }

  &__description-sub-title {
    margin-bottom: 50px;
    font-size: 18px;
    line-height: 1.4;
  }

  &__description-text {
    margin-bottom: 8px;
    line-height: 1.4;
    color: #000;
    opacity: 0.5;
  }

  &__description-author {
    position: relative;
    padding-left: 32px;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 24px;
      height: 24px;
      background: #000;
      border-radius: 50%;
    }
  }
}
