@import '../../styles/vars.scss';
.card-list {
  padding-top: 60px;
  background: $main-bg;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  &_flex {
    display: flex;
    flex-wrap: wrap;
  }

  &.m-size {
    max-width: 1030px;
  }
}
