.card {
  max-width: 270px;
  flex-basis: 270px;
  margin-right: 20px;
  margin-bottom: 90px;

  &:last-child {
    margin-right: 0;
  }

  &__media {
    position: relative;
    line-height: 0;

    & > * {
      line-height: initial;
    }
  }

  &__description {
    padding: 14px 20px;
    background: #fff;

    &-name {
      margin-bottom: 14px;
      font-size: 20px;
    }

    &-price {
      margin-bottom: 24px;
      font-size: 36px;
    }
  }
}

.btn_card {
  position: absolute;
  right: 10px;
  bottom: 5px;
}
