.header {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 40px;
  background: #fff;

  &__logo {
    cursor: pointer;
  }
  &__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__navigation-link {
    border-bottom: 1px solid transparent;

    &:hover {
      border-bottom: 1px solid;
    }
  }

  &__navigation-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
  }

  &__navigation-item {
    cursor: pointer;
    display: flex;
    align-items: center;
  }
}
