.footer {
  padding: 40px 0;
  background: #f2f2f2;

  &__menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px 48px;
    margin-bottom: 56px;
    border-bottom: 1px solid #000;
  }

  &__menu-links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-basis: calc(50% - 40px);

    &_to-right {
      justify-content: flex-end;
    }
  }

  &__menu-links-item {
    margin-left: 60px;
    font-weight: bold;
    color: #000;
    border-bottom: 1px solid transparent;

    &:hover {
      border-bottom: 1px solid;
    }

    &:first-child {
      margin-left: 0;
    }
  }

  &__menu-logo {
    width: 80px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #000;
    border-bottom: 1px solid transparent;

    &:hover {
      border-bottom: 1px solid;
    }
  }

  &__description {
    text-align: center;
  }
}
